<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>TEAM NAME: <%= @name%></h1>
   
   <p>Coach : <%= @coach %></p>
   <br>
   
   <p><bold>Point Guard:</bold> <%=@pg %></p>
   <p
 


 </body>
</html>


